body {
    margin: 0;
    background-color: #00131c;
}

h1 {
    font-size: 4em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    margin: 0 2em;
    font-size: 3em;
}

.App {
    font-family: 'Nanum Pen Script', cursive;
    color: #ffffff;
}
